{% extends "base.html" %}

{% block head_title %}Errore di login{% endblock %}

{% block head_extra %}
    <style>
        {% if not user.is_authenticated %}

            #main_sidebar {
                display: none !important;
            }

            #open-main-sidebar {

                display: none !important;
            }
        {% endif %}

        #main_breadcrumb {

            display: none !important;
        }
    </style>
{% endblock head_extra %}

{% block content %}
    <div class="ui large {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} header">
        Errore di login
    </div>
    <div class="ui divider"></div>
    <div class="ui header">Si e' verificato un errore durante l'accesso al tuo account social</div>
{% endblock %}
