{% extends "base.html" %}

{% block head_title %}Registrati{% endblock %}

{% block head_extra %}
    <style>
        {% if not user.is_authenticated %}

            #main_sidebar {
                display: none !important;
            }

            #open-main-sidebar {

                display: none !important;
            }
        {% endif %}

        #main_breadcrumb {

            display: none !important;
        }
    </style>
{% endblock head_extra %}

{% block content %}
    <div class="ui large
            {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} dividing header">
        Registrati
    </div>
    <div class="ui header">{% with provider_name=account.get_provider.name site_name=site.name %}Stai per usare il tuo
        account
        {{ provider_name }} per accedere al sito {{ site_name }}. Come ultimo step, completa il seguente
        modulo:{% endwith %}</div>

    <form class="ui form" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button type="submit"
                class="ui {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} button">
            Registrati <i class="angle double right icon"></i></button>
    </form>
{% endblock %}
