{% extends "base.html" %}

{% block head_extra %}
    <style>
        #main_breadcrumb {

            display: none !important;
        }
    </style>
{% endblock head_extra %}

{% block content %}
    <div class="ui stackable two column divided grid">
        <div class="eight wide column">
            <div class="ui large
                    {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} dividing header">
                Indirizzi e-mail
            </div>
            {% if user.emailaddress_set.all %}
                <div class="ui header" style="margin-top: 14px; margin-bottom: 14px">I seguenti indirizzi e-mail sono
                    associati al tuo account:
                </div>
                <div class="ui
                        {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} segment">
                    <form action="{% url 'account_email' %}" class="ui form" method="post">
                        {% csrf_token %}
                        <div class="ui two column grid">
                            {% for emailaddress in user.emailaddress_set.all %}
                                <div class="row">
                                    <div class="column">
                                        <div class="field">
                                            <div class="ui radio checkbox">
                                                <input id="email_radio_{{ forloop.counter }}" type="radio" name="email"
                                                       {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{% endif %}
                                                       value="{{ emailaddress.email }}" class="hidden" tabindex="0"
                                                       name="email_address"/>
                                                <label>{{ emailaddress.email }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned column">
                                        <h5>
                                            {% if emailaddress.verified %}
                                                <div class="ui

                                                        {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} label">
                                                    Verificato
                                                </div>
                                            {% else %}
                                                <div class="ui red label">Non verificato</div>
                                            {% endif %}
                                            {% if emailaddress.primary %}
                                                <div class="ui blue label">Principale</div>
                                            {% endif %}
                                        </h5>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <br>
                        <div class="ui compact buttons">
                            <button class="ui

                                    {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} button"
                                    type="submit"
                                    name="action_primary">Rendi principale
                            </button>
                            <button class="ui yellow button" type="submit"
                                    name="action_send">Re-invia verifica
                            </button>
                            <button class="ui red button" type="submit"
                                    name="action_remove">Rimuovi
                            </button>
                        </div>
                    </form>
                </div>
            {% else %}
                <div class="ui warning message">
                    <div class="header">
                        Attenzione
                    </div>
                    Al momento non hai nessun indirizzo e-mail impostato. Aggiungi un indirizzo e-mail in maniera tale
                    da poter ricevere notifiche, resettare la tua password, etc.
                </div>
            {% endif %}
        </div>
        <div class="eight wide column">
            <div class="ui large
                    {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} dividing header">
                Aggiungi
                indirizzo e-mail
            </div>
            <form method="post" action="{% url 'account_email' %}" class="ui form">
                {% csrf_token %}
                <div class="field">{{ form }}</div>
                <button name="action_add" class="ui
                        {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} button"
                        type="submit">Aggiungi e-mail
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        (function () {
            var message = "Sicuro di voler rimuovere l'indirizzo email selezionato?";
            var actions = document.getElementsByName('action_remove');
            if (actions.length) {
                actions[0].addEventListener("click", function (e) {
                    if (!confirm(message)) {
                        e.preventDefault();
                    }
                });
            }
        })();
    </script>
{% endblock %}
