{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    {% get_providers as socialaccount_providers %}
    <br><br>
    <div class="row justify-content-md-center align-self-center">
        <div class="col col-sm-6">
            <div class="card">
                <h1 class="card-header text-primary">{% trans "Sign In" %}</h1>
                <div class="card-block">
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <a class="button secondaryAction"
                           href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a><br>
                        Non hai un account? <a href="{% url 'account_signup' %}">Registrati</a>
                        <hr>
                        <button class="btn btn-primary btn-block btn-lg primaryAction" type="submit">Accedi</button>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="btn-group" role="group">
                        <button class="btn btn-block btn-social btn-facebook">
                            <i class="fa fa-facebook"></i>Accedi con facebook
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


