{% extends "base.html" %}

{% block head_title %}Esci{% endblock %}

{% block head_extra %}
    <style>
        {% if not user.is_authenticated %}

            #main_sidebar {
                display: none !important;
            }

            #open-main-sidebar {

                display: none !important;
            }
        {% endif %}

        #main_breadcrumb {

            display: none !important;
        }
    </style>
{% endblock head_extra %}

{% block content %}
    <div class="ui large
            {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} dividing header">
        Esci
    </div>
    <div class="ui header">Sei sicuro di voler uscire?</div>
    <form method="post" action="{% url 'account_logout' %}" class="ui form">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button type="submit"
                class="ui {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} button">Esci
        </button>
    </form>
{% endblock %}
