{% extends "base.html" %}
{% load account %}

{% block head_title %}Reset password{% endblock %}

{% block head_extra %}
    <style>
        {% if not user.is_authenticated %}

            #main_sidebar {
                display: none !important;
            }

            #open-main-sidebar {

                display: none !important;
            }
        {% endif %}

        #main_breadcrumb {

            display: none !important;
        }
    </style>
{% endblock head_extra %}

{% block content %}
    <div class="ui large {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} header">
        Re-imposta la password
    </div>
    <div class="ui divider"></div>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="ui header">Ti è stata inviata una e-mail. Contatta l'amministratore o i rappresentanti d'istituto se non
        la ricevi entro 5 minuti.
    </div>

{% endblock %}
