{% extends "base.html" %}

{% block head_title %}Cambio password{% endblock %}

{% block head_extra %}
    <style>
        {% if not user.is_authenticated %}

            #main_sidebar {
                display: none !important;
            }

            #open-main-sidebar {

                display: none !important;
            }
        {% endif %}

        #main_breadcrumb {

            display: none !important;
        }
    </style>
{% endblock head_extra %}

{% block content %}
    <div class="ui large {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} header">
        Cambio password
    </div>
    <div class="ui divider"></div>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form }}
        <button type="submit"
                class="ui {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} button"
                name="action">Cambia
        </button>
    </form>
{% endblock %}
