{% extends "base.html" %}

{% block head_title %}Cambia password{% endblock %}

{% block head_extra %}
    <style>
        {% if not user.is_authenticated %}

            #main_sidebar {
                display: none !important;
            }

            #open-main-sidebar {

                display: none !important;
            }
        {% endif %}

        #main_breadcrumb {

            display: none !important;
        }
    </style>
{% endblock head_extra %}

{% block content %}
    <div class="ui large {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} header">
        Cambio password
    </div>
    <div class="ui divider"></div>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <div class="ui header">Il link di reset password non è valido, forse è già stato utilizzato.
            Richiedi un <a href="{{ passwd_reset_url }}">nuovo reset password</a>.
        </div>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}" class="ui form">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="ui
                        {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} button"
                       name="action" value="Cambia password"/>
            </form>
        {% else %}
            <div class="ui header">Password modificata</div>
        {% endif %}
    {% endif %}
{% endblock %}
