{% extends "base.html" %}
{% load account %}

{% block head_extra %}
    <style>
        {% if not user.is_authenticated %}

            #main_sidebar {
                display: none !important;
            }

            #open-main-sidebar {

                display: none !important;
            }
        {% endif %}

        #main_breadcrumb {

            display: none !important;
        }
    </style>
{% endblock head_extra %}

{% block content %}
    <div class="ui large {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} header">
        Re-imposta la password
    </div>
    <div class="ui divider"></div>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="ui header">Hai dimenticato la tua password? Inserisci qui sotto l'indirizzo e-mail con cui ti sei
        registrato, ti
        arriverà una mail con un link per re-impostarla.
    </div>

    <form method="POST" action="{% url 'account_reset_password' %}" class="ui form">
        {% csrf_token %}
        <div class="required field">{{ form }}</div>
        <input type="submit"
               class="ui {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} button"
               value="Re-imposta"/>
    </form>
    <div class="ui header">Se hai qualche problema a re-impostare la password, contatta l'amministratore o i
        rappresentanti di
        istituto.
    </div>
    {% if not user.is_authenticated %}
        <div class="ui message">
            Se improvvisamente ricordi la tua password: <a href="/accounts/login/">Accedi</a><br>
            Non hai un account? <a href="{% url 'account_signup' %}">Registrati</a>
        </div>
    {% endif %}
{% endblock %}
