{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <br><br>
    <div class="row justify-content-md-center align-self-center">
        <div class="col col-lg-6">
            <h1 class="text-primary">{% trans "Set Password" %}</h1>
            <hr>
            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="btn btn-primary" name="action" value="{% trans 'Set Password' %}"/>
            </form>
        </div>
    </div>
{% endblock %}
