{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <br><br>
    <div class="row justify-content-md-center align-self-center">
        <div class="col col-lg-6">
            <div class="card">
                <h1 class="card-header text-primary">Registrati</h1>
                <div class="card-block">
                    Hai già un account? <a href="/accounts/login/">Accedi</a>
                    <hr/>
                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {{ form }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <hr>
                        <button class="btn btn-primary btn-block btn-lg primaryAction" type="submit">Accedi</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

