{% extends "base.html" %}

{% block head_title %}Registrazione chiusa{% endblock %}

{% block head_extra %}
    <style>
        {% if not user.is_authenticated %}

            #main_sidebar {
                display: none !important;
            }

            #open-main-sidebar {

                display: none !important;
            }
        {% endif %}

        #main_breadcrumb {

            display: none !important;
        }
    </style>
{% endblock head_extra %}

{% block content %}
    <div class="ui large {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} header">
        Registrazione chiusa
    </div>
    <div class="ui divider"></div>
    <div class="ui header">Ci dispiace, ma la registrazione è temporaneamente bloccata</div>

{% endblock %}
