{% extends "base.html" %}
{% load i18n %}

{% block head_title %}Verifica e-mail{% endblock %}

{% block head_extra %}
    <style>
        {% if not user.is_authenticated %}

            #main_sidebar {
                display: none !important;
            }

            #open-main-sidebar {

                display: none !important;
            }
        {% endif %}

        #main_breadcrumb {

            display: none !important;
        }
    </style>
{% endblock head_extra %}

{% block content %}
    <div class="ui large
            {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} dividing header">
        Verifica indirizzo e-mail
    </div>

    {% url 'account_email' as email_url %}

    <div class="ui header">E' richiesto che tu verifichi che questo è il tuo indirizzo email.</div>

    <div class="ui header">Una e-mail è stata mandata per la verifica. Segui il link in essa per completare la
        registrazione.
        Contatta l'amministratore o i rappresentanti d'istituto se non la ricevi entro 10 minuti (limite di
        tempo volutamente alto)
    </div>

    <div class="ui header"><strong>Nota:</strong> puoi ancora
        <a href="{{ email_url }}">cambiare il tuo indirizzo e-mail</a>.
    </div>

{% endblock %}
