{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <br><br>
    <div class="row justify-content-md-center align-self-center">
        <div class="col col-lg-6">
            <h1 class="text-primary">{% trans "Verify Your E-mail Address" %}</h1>
            <hr>
            <h5>Una e-mail è stata mandata per la verifica. Segui il link in essa per completare la registrazione.
                Contatta l'amministratore o i rappresentanti d'istituto se non la ricevi entro 10 minuti (limite di tempo volutamente alto)</h5>
        </div>
    </div>
{% endblock %}
