{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <br><br>
    <div class="row justify-content-md-center align-self-center">
        <div class="col col-sm-6">
            <h1 class="text-primary">{% trans "Verify Your E-mail Address" %}</h1>

            {% url 'account_email' as email_url %}

            <p>E' richiesto che tu verifichi che questo è il tuo indirizzo email.</p>

            <p>Una e-mail è stata mandata per la verifica. Segui il link in essa per completare la registrazione.
                Contatta l'amministratore o i rappresentanti d'istituto se non la ricevi entro 10 minuti (limite di
                tempo volutamente alto)</p>

            <p><strong>Nota:</strong> puoi ancora
                <a href="{{ email_url }}">cambiare il tuo indirizzo e-mail</a>.</p>

        </div>
    </div>
{% endblock %}
