{% extends "base.html" %}

{% block head_extra %}
    {{ form.media }}
{% endblock head_extra %}

{% block breadcrumb %}
    <a class="section" href="{{ BASE_DIR }}/">Home</a>
    <i class="right angle icon divider"></i>
    <a class="section" href="{% url "recuperi:main" %}">Settimana dei recuperi</a>
{% endblock %}

{% block content %}
    <form class="ui equal width form" method='POST' action='' enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit'
               class='ui {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} button'
               value='{{ title }}'/>
    </form>
    <div class="ui hidden divider"></div>
{% endblock content %}