{% extends "base.html" %}

{% block head_extra %}
{% endblock head_extra %}

{% block breadcrumb %}
    <a class="section" href="{{ BASE_DIR }}/">Home</a>
    <i class="right angle icon divider"></i>
    <a class="section" href="{% url "recuperi:main" %}">Settimana dei recuperi</a>
{% endblock %}

{% block content %}
    <br>
    {% with assemblea=gruppo.turno.assemblea turno=gruppo.turno %}
        <div class="ui stackable two column divided grid">
            <div class="row">
                <div class="{% if user.is_superuser or user.studente.is_rapistituto %}eleven{% else %}sixteen{% endif %} wide column"
                     style="padding: 0;">
                    <div class="ui internally celled grid">
                        <div class="row">
                            <div class="column">
                                <div class="ui small header">
                                    <div class="ui big grey header"><span><i
                                            class="ui user icon"></i></span>Tenuto
                                        da {{ gruppo.host }}<br>
                                        <span><i class="ui map marker alternate arrow icon"></i></span>{{ gruppo.aula }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column">
                                {{ gruppo.descrizione }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="column">
                                {% if not gruppo in gruppi_iscritto %}
                                    <a class="ui green
{% if gruppo.iscritti == gruppo.iscritti_massimi or gruppo.lunedi and gruppo_lunedi or gruppo.martedi and gruppo_martedi or gruppo.mercoledi and gruppo_mercoledi or gruppo.giovedi and gruppo_giovedi or gruppo.venerdi and gruppo_venerdi or not iscrizioni_aperte %}
                                disabled{% endif %} right floated compact button"
                                       href="{% url "recuperi:iscrizione" gruppo.id %}">
                                        Iscriviti</a>
                                {% else %}
                                    <a class="ui red right floated compact button"
                                       href="{% url "recuperi:disiscrizione" gruppo.id %}">
                                        Disiscriviti</a>
                                {% endif %}

                                {% if gruppo.iscritti == gruppo.iscritti_massimi %}
                                    <span><div class="ui red right floated header">Gruppo pieno</div></span>
                                {% endif %}
                                <span>
                                        <div
                                                class="ui grey header">{{ gruppo.iscritti }} / {{ gruppo.iscritti_massimi }}
                                            iscritti
                                        </div>
                                    </span>

                                {% if iscritti|length > 0 %}
                                    <div class="ui hidden divider"></div>
                                    <table class="ui

                                            {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} compact sortable celled table">
                                        <thead>
                                        <tr>
                                            {% if user.studente.is_rapistituto or user.is_superuser %}
                                                <th class="center aligned"><i class="ui wrench icon"></i></th>
                                            {% endif %}
                                            <th>Cognome</th>
                                            <th>Nome</th>
                                            <th>Classe</th>
                                            <th>Sezione</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for iscritto in iscritti %}
                                            <tr>
                                                {% if user.studente.is_rapistituto or user.is_superuser %}
                                                    <td class="collapsing">
                                                        <i data-href="{% url "recuperi:disiscrivi" gruppo.id iscritto.studente.user.id %}"
                                                           class="ui red link close icon delete-button">
                                                        </i>
                                                    </td>
                                                {% endif %}
                                                <td>{{ iscritto.studente.user.last_name }}</td>
                                                <td>{{ iscritto.studente.user.first_name }}</td>
                                                <td>{{ iscritto.studente.classe }}</td>
                                                <td>{{ iscritto.studente.sezione }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>

                <!-- colonna di destra -->
                {% if user.studente.is_rapistituto or user.is_superuser %}
                    <div class="five wide column">
                        <div class="ui stackable
                            {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} cards">
                            <div class="ui fluid card">
                                <div class="content">
                                    <div class="header">Strumenti <i class="ui right floated pencil icon"></i></div>
                                </div>
                                <div class="content">
                                    <div class="ui two vertical buttons">
                                        <div data-href="{% url 'recuperi:delete_gruppo' gruppo.id %}"
                                             class="ui fluid red button delete-button">Elimina gruppo
                                        </div>
                                        <a href="{% url 'recuperi:update_gruppo' gruppo.id %}"
                                           class="ui fluid yellow button">Modifica gruppo</a>
                                    </div>
                                </div>
                                <div class="content">
                                    <a href="{% url "recuperi:stampa_iscritti" gruppo.id %}"
                                       class="ui fluid blue button">Stampa iscritti</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endwith %}
{% endblock content %}