{% extends "base.html" %}

{% block head_title %}
    {{ instance.title }}
{% endblock head_title %}

{% block head_extra %}
{% endblock head_extra %}

{% block breadcrumb %}
    <a class="section" href="{{ BASE_DIR }}/">Home</a>
    {#    <i class="right angle icon divider"></i>#}
    {#    <div class="active section">{{ instance.title }}</div>#}
{% endblock %}

{% block content %}
    <div class="ui stackable two column divided grid">
        <div class="row">
            <div class="eleven wide column" style="padding: 0">

                <div class="ui internally celled grid">

                    <div class="row">
                        <div class="column">
                            <div class="ui right floated small header">Postato il {{ instance.publish }} da <a
                                    href="/?q={{ instance.user.first_name|lower }}+{{ instance.user.last_name|lower }}&next={% url 'blog:detail' instance.slug %}">
                                {{ instance.user.first_name }} {{ instance.user.last_name }}</a></div>
                        </div>
                    </div>

                    {% if instance.image %}
                        <div class="row">
                            <div class="column">
                                <img class="fluid image" src="{{ instance.image.url }}" alt="">
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="column">
                            {{ instance.content|safe }}
                        </div>
                    </div>

                    {% if instance.tags.all|length > 0 %}
                        <div class="row">
                            <div class="column">
                                <div class="ui tag labels">
                                    {% for tag in instance.tags.all %}
                                        <div class="ui label large header" href="/?tag={{ tag }}">{{ tag }}
                                            {% if user.is_superuser or user.studente.is_rapistituto %}
                                                <a class="detail"
                                                   href="{% url "blog:remove-tag" instance.slug tag %}?next=/"><i
                                                        class="ui red close icon"></i></a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- colonna di destra -->
            <div class="five wide column">

                <div class="ui stackable
                        {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} cards">

                    <!-- Edit Widget -->
                    {% if user.studente.is_rapistituto or user.is_superuser %}
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">Strumenti <i class="ui right floated configure icon"></i></div>
                            </div>
                            <div class="content">
                                <div class="ui two vertical buttons">
                                    <a href="{% url "blog:update" instance.slug %}" class="ui fluid yellow button">Modifica</a>
                                    <div data-href="{% url "blog:delete" instance.slug %}"
                                         class="ui fluid negative button delete-button">Elimina
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <form onsubmit="window.location = './add_tag/' + tag.value; return false;">
                                    <div class="ui right labeled fluid active input">
                                        <input class="" id="tag" placeholder="Aggiungi Tag"
                                               name="tag"
                                               value=""
                                               required>
                                        <button class="ui tag label icon button"><i class="ui add icon"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endif %}

                    <!-- Search Widget -->
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">Cerca <i class="ui right floated question icon"></i></div>
                        </div>
                        <div class="content">
                            <form onsubmit="window.location = '/?q=' + search.value; return false;">
                                <div class="ui action fluid input">
                                    <input placeholder='Cerca tra i post' type="search"
                                           name="search"
                                           value="" required>
                                    <button class="ui icon button"><i class="ui search icon"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Tag Widget -->
                    {% if tags|length > 0 %}
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">Tag <i class="ui right floated tag icon"></i></div>
                            </div>
                            <div class="content">
                                <div class="ui tag labels">
                                    {% for tag in tags %}
                                        <a class="ui label"
                                           href="/?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}tag={{ tag }}">{{ tag }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}