{% extends "base.html" %}

{% block head_extra %}
    <script>
        $(document).ready(function () {
            function search(input) {
                window.location = '/?q=' + input + '{% if request.GET.tag %}&tag={{ request.GET.tag }}{% endif %}'
            }

            $('#search-button').on('click', function () {
                search($('#search').val());
            });
            $('.search-name').on("click", function () {
                search($(this).data("name"))
            });
        });
    </script>
{% endblock head_extra %}

{% block breadcrumb %}
    <div class="active section">Home</div>
{% endblock breadcrumb %}

{% block content %}
    <div class="ui stackable two column grid">

        <!-- barra di ricerca -->
        <div class="divided row">
            <div class="eleven wide column">

                <!-- search -->
                <div class="ui action fluid input">
                    <input id="search" placeholder="Cerca">
                    <button class="ui icon button" id="search-button">
                        <i class="search icon"></i>
                    </button>
                    {% if request.GET.q or request.GET.tag %}
                        <button {% if next %}onclick="location.href='{{ next }}';"
                                {% else %}onclick="location.href='/';"{% endif %} class="ui negative icon button">
                            <i class="close icon"></i>
                        </button>
                    {% endif %}
                </div>
            </div>

            <!-- parole e tag cercati -->
            {% if request.GET.q or request.GET.tag %}
                <div class="five wide column">
                    <div class="ui large labels">
                        {% if request.GET.q %}
                            <div class="ui label"><i class="search icon"></i>{{ request.GET.q|title }}
                            </div>
                        {% endif %}
                        {% if request.GET.tag %}
                            <div class="ui tag label">{{ request.GET.tag|title }}</div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>

        <!-- contenuto pagina -->
        <div class="row">

            <!-- colonna di sinistra -->
            <div class="eleven wide column">

                <!-- lista post -->
                {% if object_list|length > 0 %}

                    <div class="ui raised stackable cards">

                        {% for post in object_list %}
                            {% url "blog:detail" post.slug as post_url %}

                            <div class="ui fluid card" id="{{ post.slug }}">

                                <!-- header per admin -->
                                {% if user.is_superuser or user.studente.is_rapistituto %}
                                    <div class="edit">
                                        <div class="ui two top attached buttons">
                                            <a href="{% url "blog:update" post.slug %}"
                                               class="ui yellow button">Modifica</a>
                                            /
                                            <div data-href="{% url "blog:delete" post.slug %}"
                                                 class="ui red button delete-button">Elimina
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if post.image %}
                                    <a class="rounded image" href="{{ post_url }}">
                                        <img src='{{ post.image.url }}'>
                                    </a>
                                {% endif %}

                                <div class="content">
                                    <div class="ui right floated labels">
                                        {% if post.publish > today %}
                                            <div class="ui teal label">Post Futuro</div>
                                        {% endif %}
                                        {% if post.draft %}
                                            <div class="ui red label">Bozza</div>
                                        {% endif %}
                                    </div>
                                    <div class="header">
                                        <div class="ui big header"><a href="{{ post_url }}">{{ post.title }}</a></div>
                                    </div>
                                    <div class="meta">
                                        <span>{{ post.publish|date:'d-m-Y' }}</span>
                                        <span>
                                        <a data-name="{{ post.user.first_name|lower }}+{{ post.user.last_name|lower }}"
                                           class="search-name">
                                        {{ post.user.first_name }} {{ post.user.last_name }}
                                        </a>
                                    </span>
                                    </div>
                                </div>

                                <div class="content">
                                    <div class="description">
                                        <div class="ui small header">{{ post.content|truncatewords_html:80|safe }}</div>
                                    </div>
                                </div>

                                <!-- tag -->
                                {% if post.tags.all|length > 0 %}
                                    <div class="extra content">
                                        <div class="ui tag labels">
                                            {% for tag in post.tags.all %}
                                                {% if user.is_superuser or user.studente.is_rapistituto %}
                                                    <div class="ui label" href="/?tag={{ tag }}">{{ tag }}

                                                        <a class="detail"
                                                           href="{% url "blog:remove-tag" post.slug tag %}?next=/"><i
                                                                class="ui red close icon"></i></a>

                                                    </div>
                                                {% else %}
                                                    <a class="ui label"
                                                       href="/?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}tag={{ tag }}">{{ tag }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}

                                <a class="ui
                                        {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} bottom attached button"
                                   href="{{ post_url }}">
                                    Leggi <i class="long arrow right icon"></i>
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                    <!-- Pagination -->
                    {% if object_list.has_other_pages %}
                        <div class="ui horizontal divider">
                            <div class="ui pagination menu">
                                {% for i in object_list.paginator.page_range %}
                                    {% if object_list.number == i %}
                                        <a class="active item">{{ i }}</a>
                                    {% else %}
                                        <a class="item" href="?page={{ i }}">{{ i }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <br>
                {% else %}
                    {% if not user.studente.is_rapistituto and not user.is_superuser %}
                        <div class="ui divider"></div>
                    {% endif %}
                    <div class="ui orange centered huge header"><i>Non ci sono comunicazioni</i></div>
                {% endif %}
            </div>

            <!-- colonna di destra -->
            <div class="five wide column">

                <div class="ui stackable
                        {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} cards">
                    <!-- Edit Widget -->
                    {% if user.studente.is_rapistituto or user.is_superuser %}
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">Strumenti <i class="ui right floated configure icon"></i></div>
                            </div>
                            <div class="content">
                                <div class="ui two vertical buttons">
                                    <a href="{% url 'blog:create' %}" class="ui fluid blue button">Aggiungi</a>
                                    {% if object_list|length > 0 %}
                                        <div class="ui fluid yellow button edit-button">Mofifica</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <!-- Tag Widget -->
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">Tag <i class="ui right floated tag icon"></i></div>
                        </div>
                        <div class="content">
                            {% if tags|length > 0 %}
                                <div class="ui tag labels">
                                    {% for tag in tags %}
                                        <a class="ui label"
                                           href="/?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}tag={{ tag }}">{{ tag }}</a>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="ui yellow header">Nessun post taggato</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}