{% load static %}
{% load staticfiles %}
{% load hijack_tags %}
{% load account %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if title %}RN - {{ title }}{% else %}Righi-Network{% endif %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"
          integrity="sha256-/Z28yXtfBv/6/alw+yZuODgTbKZm86IKbPE/5kjO/xY=" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto|Lato|Open+Sans' rel='stylesheet'>
    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1263247960440617',
                cookie: true,
                xfbml: true,
                version: 'v2.8'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 105%;
        }

        .edit {
            display: none;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('.main.sidebar')
                .sidebar('setting', 'transition', 'push') //overlay
                .sidebar('attach events', '#open-main-sidebar')
            ;
            $('.dropdown').dropdown()
            ;
            $('.message .close').on('click', function () {
                $(this).closest('.message').transition('fade');
            })
            ;
            $('.edit-button').on('click', function () {
                $('.edit').toggle();
            })
            ;
            $('.delete-button').on('click', function () {
                var delete_href = $(this).data('href');
                $('#delete-modal')
                    .modal('setting', 'transition', 'fade up')
                    .modal({
                        closable: false,
                        onApprove: function () {
                            window.location = delete_href;
                        }
                    })
                    .modal('show')
            })
            ;
        })
    </script>

    {% block head_extra %}{% endblock head_extra %}
</head>

<body>
<!-- sidebar -->
<div class="ui main inverted vertical menu sidebar">
    <div class="item">
        <a class="ui logo icon image" href="/">
            {#            <img src="{% static 'righinetwork/r2.png' %}">#}
        </a>
        <a href="{{ BASE_DIR }}"><b>Righi-Network</b></a>
    </div>
    {% if user.studente.is_rapistituto or user.is_superuser %}
        <div class="item">
            <div class="header">Gestione</div>
            <div class="menu">
                {% if user.is_superuser %}
                    <a href="{% url "admin:index" %}" class="item">Admin</a>
                {% endif %}
                <a href="{% url "accounts:gestione" %}" class="item">Classi/Studenti</a>

            </div>
        </div>
    {% endif %}
    <a href="" class="item"><b>Settimana dei recuperi</b></a>
</div>

<footer>

</footer>

<div class="pusher">

    <!-- menu -->
    <div class="ui fixed inverted evenly divided borderless main menu">
        <a class="launch icon item" id="open-main-sidebar">
            <i class="content icon"></i>
        </a>

        <a class="active item" href="{{ BASE_DIR }}">
            Righi-Network
        </a>

        <div class="right borderless menu">
            <div class="vertically fitted item">
                <div href="#" class="ui dropdown item" id="user-dropdown">
                    {{ user.first_name }} <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="header">Impostazioni</div>
                        <a class="item" href="{% url 'account_email' %}">E-mail</a>
                        <a class="item" href="{% url 'account_reset_password' %}">Password</a>
                        <div class="divider"></div>
                        <a class="item" href="{% url 'account_logout' %}">Esci</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br>

    <div class="ui container">

        <!-- notifica hijack -->
        {% if request|is_hijacked %}
            <div class="ui floating yellow tiny message">
                <div class="ui right floated blue header">
                    <a href="{{ BASE_DIR }}/hijack/release-hijack/">Rilascia</a>
                </div>
                <div class="ui header">Hijack di "{{ request.user.username }}"</div>
            </div>
        {% endif %}

        <!-- messaggi -->
        {% for message in messages %}
            <div class="ui green floating message">
                <i class="close icon"></i>
                <div class="header">Messaggio</div>
                <span>{{ message }}</span>
            </div>
        {% endfor %}

        <!-- breadcrumb e titolo -->
        <div class="ui two column middle aligned stackable grid">
            <div class="row">
                <div class="left floated column">
                    <div class="ui large breadcrumb">
                        {% block breadcrumb %}
                        {% endblock breadcrumb %}
                    </div>
                </div>
                <div class="right floated right aligned column">
                    <div class="ui large green header">
                        {% if title %}{{ title }}{% else %}&zwnj;{% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="ui top fitted divider"></div>
        <br>

        {% block content %}
        {% endblock content %}

        {% block extra_body %}
        {% endblock extra_body %}

        <div class="ui basic animated modal" id="delete-modal">
            <div class="ui icon header">
                <i class="delete icon"></i>
                Eliminare questo elemento?
            </div>
            <div class="content">
                <h3>L'operazione non può essere annullata</h3>
            </div>
            <div class="actions">
                <div class="ui red basic cancel inverted button">
                    <i class="remove icon"></i>
                    Annulla
                </div>
                <div class="ui green ok inverted button">
                    <i class="checkmark icon"></i>
                    Elimina
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
