{% load static %}
{% load staticfiles %}
{% load hijack_tags %}
{% load account %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block head_title %}{% endblock head_title %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"
          integrity="sha256-/Z28yXtfBv/6/alw+yZuODgTbKZm86IKbPE/5kjO/xY=" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}"/>

    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>

    <style>
        .edit {
            display: none;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('.dropdown').dropdown();
            $('.message .close').on('click', function () {
                $(this).closest('.message').transition('fade');
            });
            $('#edit-button').on('click', function () {
                $('.edit').toggle();
            });
            $('.delete-button').on('click', function () {
                var delete_href = $(this).data('href');
                $('#delete-modal')
                    .modal('setting', 'transition', 'fade up')
                    .modal({
                        closable: false,
                        onApprove: function () {
                            window.location = delete_href;
                        }
                    })
                    .modal('show')
            });
            $('#ascacasc')
                .sticky({
                    context: '#ascac'
                });
        })
    </script>

    {% block head_extra %}{% endblock head_extra %}
</head>

<body>

<div class="ui main {% if request|is_hijacked %}top attached{% endif %} borderless menu">
    <div class="ui text container">
        <div class="header item">
            Righi-Network
        </div>
        {% if user.is_authenticated %}
            <a href="{{ BASE_DIR }}/" class="active item">Home</a>
            {#        <a href="#" class="item">Articles</a>#}

            <div class="ui right secondary menu">
                {% if user.is_superuser %}
                    <a href="{% url "admin:index" %}" class="ui item">Admin</a>
                {% endif %}
                {% if user.studente.is_rapistituto or user.is_superuser %}
                    <a href="{% url "accounts:gestione" %}" class="ui item">Gestione</a>
                {% endif %}

                <a href="#" class="ui right floated dropdown item" id="user-dropdown">
                    {{ user.first_name }} <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="header">Impostazioni</div>
                        <div class="item" href="{% url 'account_email' %}">E-mail</div>
                        <div class="item" href="{% url 'account_reset_password' %}">Password</div>
                        <div class="divider"></div>
                        <div class="item" href="{% url 'account_logout' %}">Esci</div>
                    </div>
                </a>
            </div>
        {% endif %}
    </div>
</div>

{% if request|is_hijacked %}
    <div class="ui attached secondary yellow segment">
        <div class="ui grid">
            <div class="eight wide right aligned vertically centered column">
                <h3 class="ui header">Hijack di {{ request.user.username }}</h3>
            </div>
            <div class="eight wide left aligned column">
                <h3 class="ui blue header"><a href="{{ BASE_DIR }}/hijack/release-hijack/">Rilascia</a></h3>
            </div>
        </div>
    </div>
    <br>
{% endif %}

<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1263247960440617',
            cookie: true,
            xfbml: true,
            version: 'v2.8'
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>


<div class="ui container">
    {% for message in messages %}
        <div class="ui green floating message">
            <i class="close icon"></i>
            <div class="header">Messaggio</div>
            <span>{{ message }}</span>
        </div>
    {% endfor %}


    {% block content %}
    {% endblock content %}

    {% block extra_body %}
    {% endblock extra_body %}

    <div class="ui basic animated modal" id="delete-modal">
        <div class="ui icon header">
            <i class="delete icon"></i>
            Eliminare questo elemento?
        </div>
        <div class="content">
            <h3>L'operazione non può essere annullata</h3>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                Annulla
            </div>
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Elimina
            </div>
        </div>
    </div>
</div>

<footer>

</footer>

</body>
</html>
