{% load static %}
{% load staticfiles %}
{% load hijack_tags %}
{% load account %}

<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if title %}RN - {{ title }}{% else %}Righi-Network{% endif %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"
          integrity="sha256-/Z28yXtfBv/6/alw+yZuODgTbKZm86IKbPE/5kjO/xY=" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto|Lato|Open+Sans' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1263247960440617',
                cookie: true,
                xfbml: true,
                version: 'v2.8'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        (function ($) {
            $.tablesort = function ($table, settings) {
                var self = this;
                this.$table = $table;
                this.$thead = this.$table.find('thead');
                this.settings = $.extend({}, $.tablesort.defaults, settings);
                this.$sortCells = this.$thead.length > 0 ? this.$thead.find('th:not(.no-sort)') : this.$table.find('th:not(.no-sort)');
                this.$sortCells.on('click.tablesort', function () {
                    self.sort($(this));
                });
                this.index = null;
                this.$th = null;
                this.direction = null;
            };

            $.tablesort.prototype = {

                sort: function (th, direction) {
                    var start = new Date(),
                        self = this,
                        table = this.$table,
                        rowsContainer = table.find('tbody').length > 0 ? table.find('tbody') : table,
                        rows = rowsContainer.find('tr').has('td, th'),
                        cells = rows.find(':nth-child(' + (th.index() + 1) + ')').filter('td, th'),
                        sortBy = th.data().sortBy,
                        sortedMap = [];

                    var unsortedValues = cells.map(function (idx, cell) {
                        if (sortBy)
                            return (typeof sortBy === 'function') ? sortBy($(th), $(cell), self) : sortBy;
                        return ($(this).data().sortValue != null ? $(this).data().sortValue : $(this).text());
                    });
                    if (unsortedValues.length === 0) return;

                    //click on a different column
                    if (this.index !== th.index()) {
                        this.direction = 'asc';
                        this.index = th.index();
                    }
                    else if (direction !== 'asc' && direction !== 'desc')
                        this.direction = this.direction === 'asc' ? 'desc' : 'asc';
                    else
                        this.direction = direction;

                    // noinspection EqualityComparisonWithCoercionJS
                    direction = this.direction == 'asc' ? 1 : -1;

                    self.$table.trigger('tablesort:start', [self]);
                    self.log("Sorting by " + this.index + ' ' + this.direction);

                    // Try to force a browser redraw
                    self.$table.css("display");
                    // Run sorting asynchronously on a timeout to force browser redraw after
                    // `tablesort:start` callback. Also avoids locking up the browser too much.
                    setTimeout(function () {
                        self.$sortCells.removeClass(self.settings.asc + ' ' + self.settings.desc);
                        for (var i = 0, length = unsortedValues.length; i < length; i++) {
                            sortedMap.push({
                                index: i,
                                cell: cells[i],
                                row: rows[i],
                                value: unsortedValues[i]
                            });
                        }

                        sortedMap.sort(function (a, b) {
                            return self.settings.compare(a.value, b.value) * direction;
                        });

                        $.each(sortedMap, function (i, entry) {
                            rowsContainer.append(entry.row);
                        });

                        th.addClass(self.settings[self.direction]);

                        self.log('Sort finished in ' + ((new Date()).getTime() - start.getTime()) + 'ms');
                        self.$table.trigger('tablesort:complete', [self]);
                        //Try to force a browser redraw
                        self.$table.css("display");
                    }, unsortedValues.length > 2000 ? 200 : 10);
                },

                log: function (msg) {
                    if (($.tablesort.DEBUG || this.settings.debug) && console && console.log) {
                        console.log('[tablesort] ' + msg);
                    }
                },

                destroy: function () {
                    this.$sortCells.off('click.tablesort');
                    this.$table.data('tablesort', null);
                    return null;
                }

            };

            $.tablesort.DEBUG = false;

            $.tablesort.defaults = {
                debug: $.tablesort.DEBUG,
                asc: 'sorted ascending',
                desc: 'sorted descending',
                compare: function (a, b) {
                    if (a > b) {
                        return 1;
                    } else if (a < b) {
                        return -1;
                    } else {
                        return 0;
                    }
                }
            };

            $.fn.tablesort = function (settings) {
                var table, sortable, previous;
                return this.each(function () {
                    table = $(this);
                    previous = table.data('tablesort');
                    if (previous) {
                        previous.destroy();
                    }
                    table.data('tablesort', new $.tablesort(table, settings));
                });
            };

        })(window.Zepto || window.jQuery);
    </script>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 105%;
        }

        .edit {
            display: none;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('.main.sidebar')
                .sidebar('setting', 'transition', 'overlay') // push
                .sidebar('attach events', '#open-main-sidebar')
            ;
            $('.dropdown').dropdown()
            ;
            $('.message .close').on('click', function () {
                $(this).closest('.message').transition('fade');
            })
            ;
            $('.edit-button').on('click', function () {
                $('.edit').toggle();
            })
            ;
            $('.delete-button').on('click', function () {
                var delete_href = $(this).data('href');
                $('#delete-modal')
                    .modal('setting', 'transition', 'fade up')
                    .modal({
                        closable: false,
                        onApprove: function () {
                            window.location = delete_href;
                        }
                    })
                    .modal('show')
            })
            ;
            $('.ui.accordion')
                .accordion()
            ;
            $('.ui.progress')
                .progress("")
            ;
            $('.ui.radio.checkbox')
                .checkbox()
            ;

            $('table').tablesort();
        })
    </script>

    {% block head_extra %}{% endblock head_extra %}
</head>

<body>

<!-- sidebar -->
<div class="ui main inverted vertical menu sidebar" id="main_sidebar">
    <div class="item">
        <a class="ui logo icon image" href="/" style="margin-right: 1rem" type="image/png">
            <img src="{% static 'righinetwork/r2.png' %}">
        </a>
        <a href="{{ BASE_DIR }}/"><b>Righi-Network</b></a>
    </div>
    {% if user.studente.is_rapistituto or user.is_superuser %}
        <div class="item">
            <div class="header">Gestione</div>
            <div class="menu">
                {% if user.is_superuser %}
                    <a href="{% url "admin:index" %}" class="item">Admin</a>
                {% endif %}
                <a href="{% url "accounts:gestione" %}" class="item">Classi/Studenti</a>
            </div>
        </div>
    {% endif %}
    <a href="{% url "assemblee:all_assemblee" %}" class="item"><b>Assemblee d'istituto</b></a>
    <a href="{% url "sondaggi:index" %}" class="item"><b>Sondaggi</b></a>
    <a href="{% url "merchandising:index" %}" class="item"><b>Merchandising</b></a>
    <div class="item">
        <div class="header">Tutoring</div>
        <div class="menu">
            {% if user.studente.is_rapistituto or user.is_superuser %}
                <a href="{% url "tutoring:gestione" %}" class="item">Gestione</a>
            {% endif %}
            <a href="{% url "tutoring:index" %}" class="item">Chiedi ripetizioni</a>
            <a href="{% url "tutoring:diventa-tutor" %}" class="item">Diventa tutor</a>
        </div>
    </div>
</div>

<div class="pusher">

    <!-- menu -->
    <div class="ui fixed inverted evenly divided borderless main menu" id="main_menu">
        <a class="launch icon item" id="open-main-sidebar">
            <i class="content icon"></i>
        </a>

        <a class="active item" href="{{ BASE_DIR }}/">
            Righi-network
        </a>

        {% if user.is_authenticated %}
            <div class="right borderless menu">
                <div class="vertically fitted item">
                    <div href="#" class="ui dropdown item" id="user-dropdown">
                        {{ user.first_name }} <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="header">Impostazioni</div>
                            <a class="item" href="{% url 'account_email' %}">E-mail</a>
                            <a class="item" href="{% url 'account_reset_password' %}">Password</a>
                            <a class="item" href="{% url 'socialaccount_connections' %}">Social</a>
                            <div class="divider"></div>
                            <div class="item">
                                <span class="text" style="color: {{ user.studente.colore }}">Colore sito</span>
                                <div class="left menu">
                                    <a class="item" href="{% url "change_color" "red" %}"><i
                                            class="ui red square icon"></i>Rosso</a>
                                    <a class="item" href="{% url "change_color" "orange" %}"><i
                                            class="ui orange square icon"></i>Arancione</a>
                                    <a class="item" href="{% url "change_color" "yellow" %}"><i
                                            class="ui yellow square icon"></i>Giallo</a>
                                    <a class="item" href="{% url "change_color" "olive" %}"><i
                                            class="ui olive square icon"></i>Verde chiaro</a>
                                    <a class="item" href="{% url "change_color" "green" %}"><i
                                            class="ui green square icon"></i>Verde</a>
                                    <a class="item" href="{% url "change_color" "teal" %}"><i
                                            class="ui teal square icon"></i>Azzurro</a>
                                    <a class="item" href="{% url "change_color" "blue" %}"><i
                                            class="ui blue square icon"></i>Blu</a>
                                    <a class="item" href="{% url "change_color" "violet" %}"><i
                                            class="ui violet square icon"></i>Viola</a>
                                    <a class="item" href="{% url "change_color" "purple" %}"><i
                                            class="ui purple square icon"></i>Porpora</a>
                                    <a class="item" href="{% url "change_color" "pink" %}"><i
                                            class="ui pink square icon"></i>Rosa</a>
                                    <a class="item" href="{% url "change_color" "brown" %}"><i
                                            class="ui brown square icon"></i>Marrone</a>
                                    <a class="item" href="{% url "change_color" "grey" %}"><i
                                            class="ui grey square icon"></i>Grigio</a>
                                    <a class="item" href="{% url "change_color" "black" %}"><i
                                            class="ui black square icon"></i>Nero</a>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <a class="item" href="{% url 'account_logout' %}">Esci</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <br><br><br>
    <div class="ui container">

        <!-- notifica hijack -->
        {% if request|is_hijacked %}
            <div class="ui floating yellow tiny message">
                <div class="ui right floated blue header">
                    <a href="{{ BASE_DIR }}/hijack/release-hijack/">Rilascia</a>
                </div>
                <div class="ui header">Hijack di "{{ request.user.username }}"</div>
            </div>
        {% endif %}

        <!-- messaggi -->
        {% for message in messages %}
            <div class="ui
                    {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} floating message">
                <i class="close icon"></i>
                <div class="header">Messaggio</div>
                <span>{{ message }}</span>
            </div>
        {% endfor %}

        <div class="ui basic clearing segment" style="padding: 0;" id="main_breadcrumb">
            <div class="ui large breadcrumb">
                {% block breadcrumb %}
                {% endblock breadcrumb %}
            </div>
            <div class="ui fitted divider"></div>
            {% if title %}
                <div class="ui large
                    {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %}
                        right floated header" style="margin-right: 0">
                    {{ title }}
                </div>
            {% endif %}
        </div>

        {% block content %}
        {% endblock content %}

        {% block extra_body %}
        {% endblock extra_body %}

        <!-- modal eliminazione -->
        <form method="post">
            <div class="ui basic animated modal" id="delete-modal">
                <div class="ui icon header">
                    <i class="delete icon"></i>
                    Eliminare questo elemento?
                </div>
                <div class="content">
                    <h3>L'operazione non può essere annullata</h3>
                </div>
                <div class="actions">
                    <div class="ui red basic cancel inverted button">
                        <i class="remove icon"></i>
                        Annulla
                    </div>
                    <div class="ui
                        {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %}
                            ok inverted button">
                        <i class="checkmark icon"></i>
                        Elimina
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- TODO: controllare in TUTTI i file .html i controlli se l'utente è admin o rappresentante -->
<!-- TODO: controllare cosa è visibile dai non rappresentanti (es. assemblee.html) -->
<!-- TODO: ripensare i redirect -->
<!-- TODO: controllare e ripensare come viene visualizzata la roba (larghezza delle colonne, etc...) -->
<!-- TODO: aggiungere messaggi dove necessario -->
<!-- TODO: aggiungere filtro per rappresentanti nelle colonne? -->

</body>
</html>
