{% extends "base.html" %}

{% block head_title %}
    {{ title }}
{% endblock head_title %}

{% block breadcrumb %}
    <a class="section" href="{{ BASE_DIR }}/">Home</a>
{% endblock breadcrumb %}

{% block content %}
    <form onsubmit="window.location = '/gestione/' + classe.value + '-' + sezione.value.toUpperCase(); return false;"
          class="ui form">
        <div class="fields">
            <div class="inline field">
                <label>Classe</label>
                <input class="" id="search" placeholder='es. 3' type="number" name="classe"
                       value="" required>
            </div>
            <div class="inline field">
                <label>Sezione</label>
                <input class="field" id="search" placeholder='es. T' name="sezione"
                       value="" required>
            </div>
            <button class="ui
                        {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} icon button">
                <i class="ui plus icon"></i></button>
        </div>
    </form>
    <div class="ui two mini
            {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} statistics"
         style="margin-bottom: 0;"><!--tiny-->
        <div class="statistic" style="margin-bottom: 0;">
            <div class="value">
                {{ studenti_totali }}
            </div>
            <div class="label">
                Studenti totali
            </div>
        </div>
        <div class="statistic" style="margin-bottom: 0;">
            <div class="value">
                {{ studenti_attivati }}
            </div>
            <div class="label">
                Studenti attivati
            </div>
        </div>
        {#        <div class="statistic" style="margin-bottom: 0;">#}
        {#            <div class="value">#}
        {#                {{ ospiti }}#}
        {#            </div>#}
        {#            <div class="label">#}
        {#                Ospiti#}
        {#            </div>#}
        {#        </div>#}
    </div>
    <div class="ui fitted divider"></div><br>

    <div class="ui six
            {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} stackable doubling cards">
        {#        <div class="ui raised link card">#}
        {#            <div class="center aligned content">#}
        {#                <a href="{% url 'accounts:guests' %}">#}
        {#                    <div class="ui green header">Ospiti</div>#}
        {#                </a>#}
        {#            </div>#}
        {#        </div>#}
        {% for classe in classi %}
            <div class="ui raised link card">
                <div class="center aligned content">
                    <a href="{% url 'accounts:classe' classe.0 classe.1 %}">
                        <div class="ui
                                {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} header">{{ classe.0 }}^ {{ classe.1 }}</div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}