{% extends "base.html" %}

{% block head_title %}
    {{ title }}
{% endblock head_title %}

{% block breadcrumb %}
    <a class="section" href="{{ BASE_DIR }}/">Home</a>
    <i class="right angle icon divider"></i>
    <a class="section" href="{% url "accounts:gestione" %}">Gestione classi</a>
{% endblock breadcrumb %}

{% block content %}
    <form class="ui form" method="post">
        {% csrf_token %}
        <div class="fields">
            {% for field in form %}
                <div class="inline field">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <button class="ui {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} button"
                    type="submit">Aggiungi studente
            </button>
        </div>
    </form>
    {% if studenti_inattivi|length > 0 %}
        <div class="ui large
                    {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} dividing header">
            Non attivati
        </div>
        <table class="ui sortable celled striped
                {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} table">
            <thead>
            <tr>
                <th>#</th>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Username</th>
                <th>Password</th>
                <th><i class="ui wrench icon"></i></th>
            </tr>
            </thead>
            <tbody>
            {% for dummy in studenti_inattivi %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ dummy.last_name }}</td>
                    <td>{{ dummy.first_name }}</td>
                    <td>{{ dummy.username }}</td>
                    <td>{{ dummy.otpassword }}</td>
                    <td>
                        <div class="ui two buttons">
                            <button class="delete-button ui compact red icon button"
                                    data-href="{% url 'accounts:delete-dummy' dummy.username %}">
                                <i class="ui delete icon"></i>
                            </button>
                            <a class="delete-button ui disabled compact yellow icon button"
                               href="{% url 'accounts:edit-user' dummy.username %}">
                                <i class="ui pencil icon"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if studenti_attivi|length > 0 %}
        <div class="ui large
                    {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} dividing header">
            Attivati
        </div>
        <table class="ui sortable celled striped
                {% if user.studente.colore %}{{ user.studente.colore }}{% else %}green{% endif %} table">
            <thead>
            <tr>
                <th>#</th>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Username</th>
                <th>Email</th>
                <th>Modifica</th>
                {% if user.studente.is_rapistituto or user.is_superuser %}
                    <th>Admin</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for studente in studenti_attivi %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ studente.user.last_name }}</td>
                    <td>{{ studente.user.first_name }}</td>
                    <td>{{ studente.user.username }}</td>
                    <td>{{ studente.user.email }}</td>
                    <td>
                        <div class="ui two buttons">
                            <button class="delete-button ui compact red icon button"
                                    data-href="{% url 'accounts:delete-user' studente.user.username %}">
                                <i class="ui delete icon"></i>
                            </button>
                            <a class="delete-button ui compact disabled yellow icon button"
                               href="{% url 'accounts:edit-user' studente.user.username %}">
                                <i class="ui pencil icon"></i>
                            </a>
                        </div>
                    </td>
                    {% if user.studente.is_rapistituto or user.is_superuser %}
                        <td>
                            <form action="/hijack/{{ studente.user.id }}/" method="post" class="ui form">
                                {% csrf_token %}
                                <button type="submit" class="ui compact fluid button">Hijack</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}